* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  list-style: none;
  text-decoration: none;
}

:root {
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-transparent: transparent;
}


body {
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
  background-image: url('../img/bgLogin.png');
  background-repeat: no-repeat;
  background-position: center;
}

#login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: start;

  .login-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 1em;
    width: 45%;
    align-items: center;

    & h1 {
      color: var(--clr-white);
    }

    .name {
      display: flex;
      flex-direction: column;
      
      & input {
        background: var(--clr-transparent);
        border-radius: 0.8em;
        padding: 0.5em;
        border: 1px solid var(--clr-white);
      }
    }

    .email {
      display: flex;
      flex-direction: column;
      & input {
        border-radius: 0.8em;
        padding: 0.5em;
        border: 1px solid var(--clr-white);
        background: var(--clr-transparent);
      }
    }

    .password {
      display: flex;
      flex-direction: column;
      & input {
        border-radius: 0.8em;
        padding: 0.5em;
        border: 1px solid var(--clr-white);
        background: var(--clr-transparent);
      }
    }

    .btn {
      border: 1px solid var(--clr-white);
      border-radius: 1em;
      padding: 0.5em;

      & a {
        color: var(--clr-white);
      }
    }
  }
}