* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  list-style: none;
  text-decoration: none;
}

:root {
  --clr-white: #ffffff;
  --clr-black: #000000;
}


body {
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
}

#login {
  height: 100vh;
  background: linear-gradient(to right, #a18cd1, #fbc2eb);
  display: flex;
  align-items: center;
  justify-content: center;

  .login-container {
    display: flex;
    flex-direction: column;
    padding: 2em;
    background: var(--clr-white);
    gap: 2em;
    border-radius: 1em;
    width: 50%;
align-items: center;
    & h1 {
      color: var(--clr-black);
    }

    .name {
      display: flex;
      flex-direction: column;
      & input {
        
        border-radius: 1em;
        padding: 0.5em;
        border: 1px solid var(--clr-black);
      }
    }

    .email {
      & input {
        display: flex;
        flex-direction: column;
        border-radius: 1em;
        padding: 0.5em;
        border: 1px solid var(--clr-black);
      }
    }

    .password {
      & input {
        display: flex;
        flex-direction: column;
        border-radius: 1em;
        padding: 0.5em;
        border: 1px solid var(--clr-black);
      }
    }

    .btn {
      border: 1px solid var(--clr-black);
      border-radius: 1em;
      padding: 0.5em;
    }
  }
}